<section>
    <h1>Hello, I am <span>Fullstack developer</span></h1>
    <img src="../img/header-desc-img.png" alt="Fullstack" width="488" height="788">
    <ul>
        <li>
            <a href="https://www.instagram.com/goitclub/">Instagram</a>
        </li>
        <li>
            <a href="https://www.facebook.com/goITclub/">Facebook</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/school/goit-start-your-career-in-it">LinkedIn</a>
        </li>
        <li>
            <a href="">GitHub</a>
        </li>
    </ul>
    <div>
        <p>I work with people all over the world to create impressive and functional websites that reflect each client’s unique
        personality.</p>
    </div>
</section>